@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");

:root {
  --mainColor: #ff4f50;
  --textColor: #333333;
  --trans01: all 0.1s ease;
  --trans02: all 0.2s ease;
  --trans03: all 0.3s ease;
  --trans04: all 0.4s ease;
  --trans05: all 0.5s ease;
}

body {
  background-color: lightgray;
  font-family: "Manjari", sans-serif;
}

button {
  font-family: "Manjari", sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar .menubar {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 98vh;
  width: 250px;
  border-radius: 10px;
  position: relative;
  transition: var(--trans03);
  overflow: hidden;
  box-shadow: 0 0 5px lightgray;
}

.sidebar.close .menubar {
  width: 90px;
}

.sidebar .menubar .header {
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 5px;
  transition: var(--trans03);
}

.sidebar.close .menubar .header {
  padding-left: 0;
}

.sidebar .menubar .header .logo {
  display: flex;
  flex: row;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 10;
  transition: var(--trans01);
}

/*
.sidebar .menubar .header .logo::after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: blue;
  z-index: -1;
}
*/

.sidebar .menubar .header .logo .logoIcon {
  color: var(--mainColor);
  font-size: xx-large;
  padding: 10px 0 0 24px;
  transition: var(--trans03);
}

.sidebar.close .menubar .header .logo .logoIcon {
  padding-left: 29px;
}

.sidebar .menubar .header .logo .logoText {
  color: var(--textColor);
  transition: var(--trans03);
  font-size: xx-large;
  padding-top: 10px;
}

.sidebar.close .menubar .header .logo .logoText {
  color: transparent;
  padding-left: 15px;
}

.sidebar .menubar .menuList {
  padding-left: 25px;
  width: 80%;
  transition: var(--trans03);
}

.sidebar.close .menubar .menuList {
  padding-left: 20px;
  width: 58%;
}

.sidebar .menubar .menuList .menuItem {
  padding: 14px 10px 7px 15px;
  border-radius: 30px;
  display: flex;
}

.sidebar.close .menubar .menuList .menuItem {
  padding: 14px 10px 7px 14px;
}

.sidebar .menubar .menuList .menuItem:hover {
  background-color: bisque;
}

.sidebar .menubar .menuList .menuItem button {
  color: var(--textColor);
  width: 100%;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.sidebar .menubar .menuList .menuItem button .menuText {
  transition: var(--trans03);
}

.sidebar.close .menubar .menuList .menuItem button .menuText {
  opacity: 0;
  padding-left: 15px;
}

.sidebar .menubar .footer {
  margin: auto 0 15px 23px;

  transition: var(--trans01);
  width: 80%;

  border-radius: 50px;
}

.sidebar .menubar .footer:hover {
  background-color: bisque;
}

.sidebar .menubar .footer .logoutButton {
  padding: 10px 5px 5px 15px;
  font-size: x-large;
  display: flex;
  align-items: center;
  gap: 7px;
}

.sidebar .toggle {
  position: absolute;
  top: 53px;
  left: 236.5px;
  height: 30px;
  width: 30px;
  color: white;
  font-size: x-large;
  padding: 20px;
  background-color: var(--mainColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--trans04);
  z-index: 10000;
  box-shadow: 0 0 5px lightgray;
}

.sidebar.close .toggle {
  left: 77px;
  transform: rotate(180deg);
}
